{% extends 'base.html' %}
{% block content %}

{% if object %}
	<h1 class="text-center mb-4">Edit Order: {{ object }}</span></h1>
{% else %}
	<h1 class="text-center mb-4">Create New Order</h1>
{% endif %}

	<div class="mx-auto card" style="max-width: 36rem;">
		<div class="card-body">
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input class="btn btn-primary" type="submit" value="Submit">
			</form>
		</div>
	</div>




<script>
    const $selectEl = $("#id_icecreams");
    $selectEl.addClass("form-select");

	const $labelEl = $("label");
	$labelEl.addClass("text-dark")
</script>

{% endblock %}