{% extends "base.html" %}

{% block content %}

    <h1 class="text-center mb-4">Your Orders</h1>
    <div class="text-center">
    {% for order in object_list %}
        <div class="card mb-4 mx-auto" style="max-width: 36rem;">
            <div class="card-body">
                <a 
                    class="h4 link card-title" 
                    href="{% url 'order_detail' order.id %}"
                    style="color: #56A1B3;"
                >
                    {{ order }}
                </a>
                <div class="mt-2">
                    <a 
                        class="card-link btn btn-success" 
                        href="{% url 'order_update' order.id %}"
                    >
                        Edit Order
                    </a>
                    <a 
                        class="card-link btn btn-danger" 
                        href="{% url 'order_delete' order.id %}"
                    >
                        Delete Order
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}