{% extends 'base.html' %}

{% block content %}
	
	<h1 class="text-center mb-4">Welcome, {{ user.username }}</h1>

	<div class="container">
		<div class="row">
			<div class="col-6 px-2 text-center">
				<h2 class="mb-4">Profile</h2>
				<p><strong>Location:</strong><br>{{ user.profile.address }}</p>
				<p><strong>Phone:</strong><br>{{ user.profile.phone_number }}</p>
				<a href="#" class="btn btn-primary">Edit Your Profile</a>
				<hr>
				<h2 class="text-center my-2">Checkout: ice cream is melting!</h2>
				<p>Check your recent orders here</p>
				<a href="{% url 'order_index' %}" class="btn btn-primary"> View Your Orders</a>
				<img src="../../static/images/cones.jpg" class="mt-4" alt="...">
			</div>
			<div class="col-6 px-2 text-center">
				<h2 class="mb-4">Payment Information</h2>
				<div class="accordion" id="card-accordion">
				{% for credit_card in user.profile.creditcard_set.all %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="heading-{{ credit_card.id }}">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ credit_card.id }}" aria-expanded="true" aria-controls="collapse-{{ credit_card.id }}">
								Credit Card
							</button>
						</h2>
						<div id="collapse-{{ credit_card.id }}" class="accordion-collapse collapse show" aria-labelledby="heading-{{ credit_card.id }}" data-bs-parent="#card-accordion">
							<div class="accordion-body">
								<p class="card-text">
									<strong>Card Number:</strong>
									<br>
									{{credit_card.card_number}}
								</p>
								<p class="card-text">
									<strong>Expiration Date:</strong>
									<br>
									{{credit_card.exp_date}}
								</p>
								<a class="btn btn-primary" href="{% url 'creditcard_update' credit_card.id %}">Edit</a>
								<a class="btn btn-warning" href="{% url 'creditcard_delete' credit_card.id %}">Delete</a>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>

				<div class="mx-auto mt-4 card" style="max-width: 30rem;">
					<div class="card-body">
						<h4 class="card-title">Add a New Card</h4>
						<form action="{% url 'add_creditcard' user.profile.id %}" method="POST">
							{% csrf_token %}
							{{ creditcard_form.as_p }}
							<input class="btn btn-primary" type="submit" value="Submit">
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script>
		const $selectEl = $("#id_icecreams");
		$selectEl.addClass("form-select");
	
		const $labelEl = $("label");
		$labelEl.addClass("text-dark")
	</script>

{% endblock %}