<form action="{% url 'add_order' %}" method="POST">
    {% csrf_token %}
    <label for="user_id">User ID: </label>
    <input name="user_id" value="{{ user_id }}">
    <label for="shop_id"> Shop ID: </label>
    <input name="shop_id" value="{{ shop_id }}">
    Flavors at the shop:
    <ul>
    {% for flavor in flavors %}
        <li>{{ flavor }}</li>
    {% endfor %}
    </ul>
    Credit cards saved on profile
    <ul>
    {% for card in creditcards %}
        <li>{{ card }}</li>
    {% endfor %}
    </ul>
    <input class="btn" type="submit" value="Submit">
</form>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn" type="submit" value="Submit">
</form>