{% extends 'base.html' %}
{% block content %}
<center>
<h1>{{ shop.name }}</h1>
<br/><br>
<p class="card-text">
    City: {{ shop.city }}
    <br>
    Phone: {{ shop.phone_number }}
    <br>
    Email: {{ shop.email }}
    <br>
    Website: {{ shop.website }}
</p>
<p>
    {% for flavor in flavors %}
    <li>{{ flavor.flavor }}</li>
    <li>{{ flavor.shop }}</li>
    <li>{{ flavor.shop_id }}</li>
    <button type="submit" class="btn btn-secondary">Add Flavor</button>
    <button type="submit" class="btn btn-secondary">Remove Flavor</button>
    {% endfor %}
</p>

<a href="{% url 'order_start' shop.id %}">Start an Order</a>

</center>
{% endblock %}