{% extends 'base.html' %}
{% block content %}
<center>
<style>
    .item{
    height:20rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    }
</style>

<div class="item" style="background-image: url({{shop.imgs}});">
</div>

<h1>{{ shop.name }}</h1>
<br/><br>
<p style="font-family: 'Fanwood Text', Serif;" class="card-text">
    City: {{ shop.city }}
    <br>
    Phone: {{ shop.phone_number }}
    <br>
    Email: {{ shop.email }}
    <br>
    Website: {{ shop.website }}
    <br>
    Description: {{ shop.description }}
</p>
<br>
<div style="position: relative; top:50px; padding-bottom: 100px;" class="row">
    <div class="col-6">
        <h3 style= "color:rgb(209, 255, 176) ;">Menu</h3>
        <p>
            {% for flavor in flavors %}
            <h4 style="font-family: 'Shrikhand', Cursive; color: rgb(255, 255, 176);">{{ flavor.flavor }}</h4>
            {{ flavor.shop }}
            {{ flavor.description }}
            <br>
            <br>
            {% endfor %}
        </p>
    </div>
    <div class="col-6">
      <a class="btn btn-info" href="{% url 'order_start' shop.id %}">Start an Order</a>
    </div>
</div>

</center>
{% endblock %}