{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mb-4">Sign Up</h1>

{% if error_message %}
    <p class="red-text">{{ error_message }}</p>
{% endif %}

    <div class="mx-auto card" style="max-width: 48rem;">
        <div class="card-body">
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}