{% extends 'base.html' %}
{% block content %}
<div class="row align-items-center">
    <div class="col-6">
        <img id="about-img" class="img-fluid" src="../static/images/yay-cream.jpg">
    </div>
    <div class="col-6">
        <h1 class="text-center">Hi, we're Frizzy!</h1>
        <hr />
        <p>Frizzy is a delivery app that connects you to your favorite flavors, 
            whether they’re in ice cream parlors, restaurants, and even grocery stores. 
            You can order from a wide variety of ice cream styles, 
            like plain scooped cups to ice cream bars to full-size tubs from a freezer. 
            You can even send some love to a friend or relative who needs an icy treat 
            to brighten their day.
            Whatever the occasion or mood, use Frizzy for hassle-free ice cream delivery!
            We hope you will love this app as much as we do! Enjoy!
        </p>
        <hr>
        <p>Key Features:</p>
        <ul>
            <li>Personalize your favorite ice cream shops</li>
            <li>Choose a shop closest to your location</li>
            <li>Schedule on-demand delivery</li>
            <li>Search ratings, prices, and stores</li>
            <li>Dietary restrictions are covered!</li>
        </ul>
    </div>
</div>

{% endblock %}








