{% extends 'home.html' %}
{% block content %}

    <h1 class="text-center mb-4">Search Results</h1>
    <div class="text-center">
    {% for shop in object_list %}
        <div class="card mb-4 mx-auto" style="max-width: 36rem;">
            <div class="card-body">
                <a class="h2 link card-title" href="/shops/{{ shop.id }}">
                    {{ shop.name }}
                </a>
                <p class="card-text">
                    {{ shop.description }}
                </p>
                <p class="card-text">
                    City: {{ shop.city }}
                    <br>
                    Phone: {{ shop.phone_number }}
                    <br>
                    Email: {{ shop.email }}
                    <br>
                    Website: {{ shop.website }}
                </p>
                <a class="card-link btn btn-info" href="/shops/{{ shop.id }}">
                    Visit Shop
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}